
#wrap{
	width: 960px;
	height: auto;
	margin: 0 auto;
	/* disable the selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}


.exampleTitle1{
	margin: 40px 0 10px 0;
}
.exampleTitle2{
	margin: 100px 0 0px 0;
}


ul{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#carouel1 {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 280px;
	margin-left: 10px;
}

#carouel2 {
	clear: left;
	list-style: none;
	padding: 0;
	margin: 0 auto;	
	margin-left: 10px;	
	margin-top: 130px;
	background: #B22222;
}

#carouel1 li{
	text-align: center;
	overflow: hidden;
	width: 600px;				
	height: 300px;
}
#carouel2 li{
	text-align: center;
	overflow: hidden;
	width: 600px;				
	height: 240px;
	cursor: pointer;	
}

img{
	margin: 0;
	padding: 0;
}


li.roundabout-in-focus, #carouel2 li.roundabout-in-focus {
	cursor: default;
}



.front {
	position: relative;
	background: #FFF;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.back {
	position: absolute;
	float: left;
	color: #333;
	margin: 0;
	padding: 0;
	z-index: 800;
	background: #FFF;
	overflow: hidden;
}

#carouel1 .front, #carouel1 .back{
	width: 600px;
	height: 300px;	
}

#carouel2 .front, #carouel2 .back{
	width: 600px;
	height: 240px;	
}

#carouel1 .back, #carouel2 .back{
	top: 0px;
	left: 0;
}




.smallImg{
	float: left;
	margin: 12px;
}

.caption{
	text-align: left;
	margin: 12px;
}


.prevArrow{
	cursor: pointer;  
	background: url(../images/assets/prev.png) no-repeat; 
	width: 40px;
	height: 80px;      
	position: absolute;
	top: 130px;	 
	left: 240px;        
	z-index: 1001;
} 
.nextArrow{           
	cursor: pointer;        
	background: url(../images/assets/next.png) no-repeat;
	width: 40px;
	height: 80px;
	position: absolute;
	top: 130px;
	right: 240px;	          
	z-index: 1001;	
}  
 

.infoButton{           
	cursor: pointer;        
	/*background: url(../images/assets/info.png) no-repeat;*/
	width: 26px;
	height: 26px;
	position: absolute;
	top: 4px;
	right: 4px;	          
	z-index: 1001;	
}   

.closeButton{           
	cursor: pointer;        
	background: url(../images/assets/close.png) no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 4px;
	right: 4px;	          
	z-index: 1001;	
}   

.butt {
    display: inline-block;
    width: auto;
    padding: .6em 12px;
    margin: .75em 0;
 	color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#52A8E8), to(#377AD0));
    background-image: -moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
    background-color: #52A8E8;
    border: 1px solid #20559A;    
	text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    border-radius: 5px;
    line-height: 1.2em;
    font-weight: 700;
}
.butt:visited{
	color: #FFF;
}
.butt:hover, .butt:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#3499e4), to(#2c6ab9));
    background-image: -moz-linear-gradient(0% 100% 90deg,#2c6ab9, #3499e4);
    background-color: #2c6ab9;
}
